.summary-kategori{
    background-color: darkgreen;
    border-radius: 10px;
}

.summary-produk{
    background-color: darkblue;
    border-radius: 10px;
}

.text-decoration:hover{
    color: blue;
}

form div{
    margin-bottom: 10px;
}